{% extends "passwords/base.html" %}

{% load static %}
{% load crispy_forms_tags %}

{% block metaLinks %}
<link rel="stylesheet" href="{% static 'passwords.css' %}">
{% endblock %}

{% block title %}Guessing Game{% endblock %}

{% block content %}
<div class="content mx-auto">
    <form action="passwords" method="post">
        {% csrf_token %}
        <p class="label">Password 1</p>
        {{first|crispy}}
        <p class="label">Password 2</p>
        {{second|crispy}}
        <p class="label">Password 3</p>
        {{third|crispy}}
        <p class="label">Password 4</p>
        {{fourth|crispy}}
        <p class="label">Password 5</p>
        {{fifth|crispy}}
        <button type="submit" name="submit" id="submit">Submit Guesses</button>
    </form>
</div>
{{ redirect_to_login_immediately }}
{% endblock %}