html{
    background-color: #f08c3f;
}
body{
    width: fit-content;
    height: 100vh;
    background-color: #f08c3f;
}

.content{
    background-color: #f08c3f;
    width: fit-content;
    height: fit-content;
    padding-left: 15vw;
    margin:0;
}

.label{
    margin-top: 1vh;
    margin-bottom: 1vh;
    color: bisque;
}

#submit{
    margin-top: 1vh;
    background-color: #db4206;
    color: bisque;
}

form{
    margin: 0;
}
.content input[type=text]{
    background: #efae74;
    color: #8a3b02;
    border-color: #8a3b02;
    width: 70vw;
    margin-right: 0;
}

.content input[type=text]::placeholder{
    color: #8a3b02;
}